* {
    margin: 0;
    padding: 0;
    
}


.main {
    display: grid;
}   

.navbar {
    background-color: #ff9595;
    
}
.article {
    background-color: #fc5555;
    
}
.asidebar {
    background-color: #ffdf77;
    
}
.footer {
    background-color: #89fa5d;
    
}