:root {
  --font-color-bgdark: #ffffff;
  --font-color-cant: #b9b9b9;
  --font-color-dark: #000000;
}
* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 4rem auto 3rem;
  grid-template-areas:
    "navbar navbar "
    "asidebar article "
    "footer footer ";
}

.navbar {
    grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #00152e;
  color: var(--font-color-bgdark);
}
.navbar p {
  margin-top: 0.6rem;
  color: var(--font-color-bgdark);
  font-size: 1.2rem;
}
.search-input {
  border-radius: .5fr;
  outline: none;
  border: 2px solid #00295c;
  border-radius: 5.2rem;
  width: 45vw;
  height: 40px;
 text-align: center;
}
.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
}
.article {
  display: flex;
  align-items: center;

  position: relative;
  grid-area: article;
  flex-wrap: wrap;
  overflow: auto;
  /* box-shadow: inset 0 0 0 15px #000000; */
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
.card1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #ffffff;
  border: 0.2rem solid #00152e;
  border-radius: 0.5rem;
  height: 500px;
  width: 22rem;
  margin: 0.5rem;
}
.img-cont1 {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0.3rem 0.3rem 0 0.3rem;
}
.img-cont1 img {
  max-width: 340px;
  max-height: auto;
  object-fit: cover;
}
.text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ffffff;
  margin: 0.3rem;
}
.text1 p:nth-child(1) {
  margin-bottom: 0;
  padding: 0.2rem;
  font-weight: 800;
  font-size: 1.1rem;
  text-align: center;
}
.text1 p:nth-child(2) {
  margin-bottom: 0;
  padding: 0.2rem;
  font-weight: 500;
}
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 3rem;
  padding: 0.2rem;
  background-color: #00152e;
}
.btn1 button {
  all: unset;
  color: var(--font-color-bgdark);
  font-weight: 600;
}

.asidebar {
  grid-area: asidebar;
  background-color: #252525;
}
.asidebar p {
  margin: 0;
  padding: 0.7rem 0 0 1.2rem;
  color: var(--font-color-bgdark);
  font-size: 1.6rem;
  font-weight: 600;
}
.catalogo {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 -0.85rem;
  list-style: none;
}
.catalogo li {
  font-size: 1rem;
  font-weight: 300;
  color: var(--font-color-bgdark);
  margin: 0 0 0.4rem 0;
}
.cantidad {
  color: var(--font-color-cant);
  font-weight: 500;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background: #00152e;
}
.footer p {
  margin: 0;
  padding: 0;
  color: var(--font-color-bgdark);
  font-size: .9rem;
  font-weight: 300;
}
