* {
    margin: 0;
    padding: 0;
    
}


.main {
    display: grid; 
    height: 100vh;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 4rem auto 3rem;
    grid-template-areas: 
        "navbar navbar "
        "asidebar article "
        "footer footer ";   
}   

.navbar {
    grid-area: navbar;
    background-color: #ff9595;
    
}
.article {
    display: flex;
    grid-area: article;
    background-color: #fc5555;
    flex-wrap: wrap;  
    overflow: auto; 
}

.card1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #89fa5d;
    height: 500px;
    width: 22rem;
    margin: .5rem;
}
.img-cont1 {
    display: flex;  
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: .3rem .3rem 0 .3rem;
}
.img-cont1 img {
    max-width: 340px;
    max-height: auto;
    object-fit: cover;
}
.text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #6f96ff;   
    margin: .3rem;
}
.text1 p {
    margin-bottom: 0;
    padding: .2rem;
}
.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9595;    
    margin: 0;
    height: 3rem;
    padding: .2rem;   
}

.asidebar {
    grid-area: asidebar;
    background-color: #7a6b37;
    
}
.asidebar p {
    margin: 0;
    padding: .7rem 0 0 1.2rem;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 600;
}
.footer {
    grid-area: footer;
    background-color: #89fa5d;
    
}
